$primary: #4f46e5;
$secondary: #22c55e;
$danger: #ef4444;
$warning: #f59e0b;
$info: #0ea5e9;
$dark: #1f2937;
$light: #f9fafb;

$primary-bg:#131337;
$secondary-bg:#E6E6E6;
$main-bg-color:#f5f5f5;
$menu-active:#71F4C3;
$white:#ffffff;
$black: #000000;
$text-secondary: #030204;
$menu-bg-child:rgba(255, 255, 255, 0.1);

$input-border:#E2E2E3;
$search-icon:#67606E;

$view-green: #148057;

$icon-background:#CAF7E6;

$progress-bar:#70F3C3;
$progress-bg:#FBFBFB;
$pending-bg:#FFEED4;
$approved-bg:#BEFEC6;
$rejected-bg:#FFD4D4;
$button-text:#70F4C3;
$chip-stage1: #FFEED4;

$decrease-color:#FF1111;


$select-text:#000E26;
$role-loan-officer: #D4FDFF;
$role-vendor: #FFEED4;
$role-admin: #FFD4D4;
$role-operation-manager: #BEFEC6;
$status-active: #1D6AB2;
$status-inactive: #797979;
$Dropdown-hover: #EDFAEE;
$input-border: #E2E2E3;

$Dropdown-hover: #EDFAEE;
$textarea-text:#8A8491;
$textarea-border:#D4CEDA;

