$primary: #4f46e5;
$secondary: #22c55e;
$danger: #ef4444;
$warning: #f59e0b;
$info: #0ea5e9;
$dark: #1f2937;
$light: #f9fafb;

$primary-bg:#131337;
$secondary-bg:#E6E6E6;
$main-bg-color:#f5f5f5;
$menu-active:#71F4C3;
$white:#ffffff;
$text-secondary: #030204;
$menu-bg-child:rgba(255, 255, 255, 0.1);

$input-border:#E2E2E3;
$search-icon:#67606E;